* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* TOPO - início */
.topBar {
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.topBar h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    margin-left: 21px;
}
.topBar h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 21px;
}
/* TOPO - fim */

/* Menus - início */
.menus {
    margin-top: 123px;
    margin-bottom: 108px;
    position: relative;
}
.menus .menuTitle {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-left: 21px;
}
.menus .menuOptions {
    display: flex;
    overflow-x: scroll;
}
.menus .menuOptions button {
    border: none;
    background-color: #fff;
    padding: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin: 17px 16px 27px 0;
}
.menus .menuOptions button:first-child {
    margin-left: 21px;
}
.menus .menuOptions button:last-child {
    margin-right: 21px;
}
.menus .menuOptions button #icon {
    position: absolute;
    right: 14px;
    bottom: 11px;
}
.menus .menuOptions button img {
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
}   
.menus .menuOptions button .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    width: 144px;
    margin: 0 auto;
    position: relative;
}
.menus .menuOptions button .description .optionTitle {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0 auto 10px auto;
    word-wrap: break-word;
}
.menus .menuOptions button .description .optionDescription {
    width: 100%;
    font-size: 15px;
    color: rgba(166, 166, 166, 1);
    margin-bottom: 10px;
    word-wrap: break-word;
}
.menus .menuOptions button .description .optionPrice {
    width: 100%;
    font-size: 16px;
    color: black;
    word-wrap: break-word;
}
/* Menus - fim */

/* BOTTOMBAR - início */
.bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 1em rgba(0, 0, 0, .25);
    z-index: 2;
}
.confirmOrder {
    height: 61px;
    width: 364px;
    background: rgba(203, 203, 203, 1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-right: 60px;
    padding-left: 60px;
    color: #fff;
}
.confirmed {
    background: #32B72F;
    font-weight: 700;
    color: red;
    text-decoration: none;
}
/* BOTTOMBAR - final */

/* Aplicar borda verde - início */
.boxShadowVerde {
    box-shadow: 0 0 0 5px rgba(50, 183, 47, 1) inset;
}

.boxShadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.amount {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 47px;
    margin-bottom: 3px;
}
.amount div:first-child {
    color: red;
}
.amount div:last-child {
    color: rgb(50, 183, 47);
}

.hide {
    display: none;
}
/* Aplicar borda verde - final */